In [ ]:
print("hello")

hello

# ***ASSIGNMENT 1***

# 1. Write a Python program which accepts the radius of a circle from the user and compute the area

In [ ]:
import math

radius = float(input("Enter the radius of the circle: "))
area = math.pi * radius ** 2
print(f" Area of the circle is: {area}")

Enter the radius of the circle: 3
 Area of the circle is: 28.274333882308138

# 2. Write a Python Program to accept the details of a student like name, roll number and mark and display it.

In [ ]:
name = input("Enter student name: ")
roll_number = input("Enter student roll number: ")
marks = float(input("Enter student marks: "))
print(f"Name: {name}")
print(f"Roll Number: {roll_number}")
print(f"Marks: {marks}")

Enter student name: Anisha
Enter student roll number: 21
Enter student marks: 78
Name: Anisha
Roll Number: 21
Marks: 78.0

# 3. Write a Python program to get the largest number from a list.

In [ ]:

list = [12, 3,47,10]
largest = list[0]
for i in list:
    if i > largest:
        largest = i
print(f"{largest} is the largest number")

47 is the largest number

# 4.Given a range of first 10 numbers, write a Python program to iterate from start number to the end number and print the sum of the current number and previous number.

In [ ]:

start = 1
end = 10
previous = start
for current in range(start, end + 1):
    total = current + previous
    output = "Current number: " + str(current) + ", Previous number: " + str(previous) + ", Sum: " + str(total)
    print(output)
    previous = current

Current number: 1, Previous number: 1, Sum: 2
Current number: 2, Previous number: 1, Sum: 3
Current number: 3, Previous number: 2, Sum: 5
Current number: 4, Previous number: 3, Sum: 7
Current number: 5, Previous number: 4, Sum: 9
Current number: 6, Previous number: 5, Sum: 11
Current number: 7, Previous number: 6, Sum: 13
Current number: 8, Previous number: 7, Sum: 15
Current number: 9, Previous number: 8, Sum: 17
Current number: 10, Previous number: 9, Sum: 19

# 5. Write a Python program to print only those numbers which are divisible of 5.

In [ ]:
numbers = [10, 20, 33, 46, 55]
divby5 = []
for num in numbers:
    if num % 5 == 0:
        divby5.append(num)
print("Numbers divisible by 5: ")
for num in divby5:
    print(num,"")

Numbers divisible by 5:
10
20
55

# 6. Write a Python program to check whether a number is prime or not.

In [ ]:
number = int(input("Enter a number: "))
if number > 1:

    for i in range(2, number):
        if (number % i) == 0:
            print(f"{number} is not a prime number.")
            break
    else:
        print(f"{number} is a prime number.")
else:
    print(f"{number} is not a prime number.")

Enter a number: 5
5 is a prime number.

# 7. Write a Python program to reverse a list using for loop.

In [ ]:
original_list = [1, 2, 3, 4, 5]
reversed_list = []

for i in range(len(original_list) - 1, -1, -1):
    reversed_list.append(original_list[i])

print("Original list:", original_list)
print("Reversed list:", reversed_list)

Original list: [1, 2, 3, 4, 5]
Reversed list: [5, 4, 3, 2, 1]

# 8. Write a Python program to print the following pattern.
*
**
***
****

In [ ]:
rows = 4

for i in range(1, rows + 1):
    for j in range(i):
        print('*', end='')
    print()

*
**
***
****

# 9. Write a Python program to find the maximum of three numbers

In [ ]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))
max_num = max(num1, num2, num3)
print(f"The maximum of {num1}, {num2}, and {num3} is: {max_num}")

Enter first number: 4
Enter second number: 7
Enter third number: 5
The maximum of 4.0, 7.0, and 5.0 is: 7.0

# 10. Write a Python program to construct the following pattern, using a nested for loop.
*
**
***
****
*****
****
***
**
*

In [ ]:
rows = 5
for i in range(rows):
    for j in range(i + 1):
        print('*', end='')
    print()

for i in range(rows - 1):
    for j in range(rows - 1 - i):
        print('*', end='')
    print()

*
**
***
****
*****
****
***
**
*

# ***ASSIGNMENT 2***

# 1. Write a Python program to accept a string value from the user and display the count of each character in that string.

In [ ]:
input_string = input("Enter a string value: ")
for char in input_string:
    count = input_string.count(char)
    print(char + '=' + str(count) + ', ', end='')

Enter a string value: assembly
a=1, s=2, s=2, e=1, m=1, b=1, l=1, y=1,

# 2. . Write a Python function to find the maximum of three numbers

In [ ]:
def find_max(num1, num2, num3):
    max_num = num1
    if num2 > max_num:
        max_num = num2

    if num3 > max_num:
        max_num = num3

    return max_num

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
num3 = int(input("Enter the third number: "))
result = find_max(num1, num2, num3)
print("The maximum of the three numbers is:", result)

Enter the first number: 4
Enter the second number: 7
Enter the third number: 6
The maximum of the three numbers is: 7

# 3. Write a Python function called exponent(base,exp) that returns an integer value of base raises to the power of exp.

In [ ]:
def exponent(base, exp):
    result = 1
    for i in range(exp):
        result *= base
    return result
base = int(input("Enter the base: "))
exp = int(input("Enter the exponent: "))
result = exponent(base, exp)
print("output:", result)

Enter the base: 2
Enter the exponent: 3
output: 8

# 4. Write a Python function that takes a positive integer and returns the sum of the cube of all the positive integers smaller than the specified number.

In [ ]:
def sum_of_cubes(n):
    sum_cubes = 0
    for i in range(1, n):
        sum_cubes += i ** 3
    return sum_cubes
n = int(input("Enter a positive integer: "))
result = sum_of_cubes(n)
print("output:", result)

Enter a positive integer: 4
output: 36

# 5. Write a Python program which iterates from 1 to 10. For multiples of 2, print “Fizz” instead of the number and for the multiples of 5, print “Buzz”. For numbers which are multiples of both 2 and 5, print “FizzBuzz”.

In [ ]:
for num in range(1, 11):
    if num % 2 == 0 and num % 5 == 0:
        print("FizzBuzz")
    elif num % 2 == 0:
        print("Fizz")
    elif num % 5 == 0:
        print("Buzz")
    else:
        print(num)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

# 6. Write a Python program to find the most frequent item in a list of numbers.

In [ ]:
numbers = [2, 3, 4, 2, 5, 2]
max_count = 0
most_freq_item = 0
for item in numbers:
    count = numbers.count(item)

    if count > max_count:
        max_count = count
        most_freq_item = item
print("output:", most_freq_item)

output: 2

#7. Write a Python program to find the sum of squares of the numbers in a list.

In [ ]:
numbers = [2,1,3,1]
sosq = 0
for num in numbers:
    square = num ** 2
    sosq += square
print("Sum of squares:", sosq)

Sum of squares: 15

# 8. Write a Python program using for loop that will iterate from 1 to 15. For each iteration, check if the current number is odd or even, and display the message to the screen as odd or even.

In [ ]:
for num in range(1, 16):
    if num % 2 == 0:
        print(str(num) + " is even")
    else:
        print(str(num) + " is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd

# 9. Write a Python program to convert temperatures to and from Celsius Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f= temperature in Fahrenheit.]

In [ ]:
def celsius_to_fahrenheit(celsius):
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit

def fahrenheit_to_celsius(fahrenheit):
    celsius = (fahrenheit - 32) * 5/9
    return celsius

fahrenheit_temp = 41
celsius_temp = fahrenheit_to_celsius(fahrenheit_temp)
print(str(fahrenheit_temp) + " degrees Fahrenheit is equal to " + str(round(celsius_temp, 2)) + " degrees Celsius")

41 degrees Fahrenheit is equal to 5.0 degrees Celsius

# 10. Write a Python function to calculate the factorial of a number (a nonnegative integer). The function accepts the number as an argument.

In [ ]:
number = int(input("Enter a non-negative integer: "))
result = 1
for i in range(1, number + 1):
    result = result * i
print("The factorial of", number, "is:", result)

Enter a non-negative integer: 5
The factorial of 5 is: 120